<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="cn.itbat.whh.gateway"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Component"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="appUtil" class="cn.itbat.whh.gateway.utils.ApplicationContextUtils" />

    <bean id="webConfig" class="cn.itbat.whh.gateway.config.WebConfig"/>
    <bean id="webConfigUtil" class="cn.itbat.whh.gateway.utils.WebConfigUtils">
        <property name="configWeb" ref="webConfig"/>
    </bean>
</beans>